/* Grid Layout */
body {
	font:normal 12px Arial, Helvetica, sans-serif;
	color: #575757;
	margin:0px;
	padding:0px;
}
table {
	line-height:inherit;
	margin:0px;
	padding:0px;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 0;
}
h2
{	text-align:center;
	margin-bottom:15px;
}


.grid
{	width:656px;
	margin:0 auto;
}
.grid .col01
{	width:15px;
}
.grid .col02
{	width:154px;
}
.grid .col03
{	width:123px;
}
.grid .col04
{	width:117px;
}
.grid .col05
{	width:114px;
}
.grid .col06
{	width:117px;
}
.grid .col07
{	width:15px;
}

/* $ __Header Styling ======================*/
.grid thead th
{	background:url(../images/top-repeat-bg.gif) repeat-x left top;
	height:43px;
	border-right:1px solid #fff;
	border-left:1px solid #e6e9eb;
	text-align:center;
}
.grid thead th.table-head-left
{	background:url(../images/top-curves.gif) no-repeat left top;
	border:0;
}
.grid thead th.table-head-right
{	background:url(../images/top-curves.gif) no-repeat right top;
	border:0;
}
.grid tbody td
{	padding:4px 0;
}
.grid tbody tr.table-bodyodd td
{	background:#f1f1f1;
	border:#fff 1px solid;
}
.grid tbody tr.table-bodyeven td
{	background:#f4f4f4;
	border:#fff 1px solid;
}
.grid tbody td.table-body-left
{	background:#dadee1 !important;
	border:0 !important;
}
.grid tbody td.table-body-right
{	background:#dadee1 !important;
	border:0 !important;
}
.grid tfoot td
{	background:url(../images/bottom-repeat-bg.gif) repeat-x left top;
	height:21px;
}
.grid tfoot td.table-foot-left
{	background:url(../images/bottom-curves.gif) no-repeat left bottom ;
	border:0 !important;
}
.grid tfoot td.table-foot-right
{	background:url(../images/bottom-curves.gif) no-repeat right bottom;
	border:0 !important;
}

/* $ __Styling for unordered list*/
ul,li
{	list-style:none;
	padding:0;
	margin:0;
}
ul
{	padding-left:30px;
}
li
{	padding:4px;
}
ul li.first
{	background:#F00;
	padding-left:15px !important;
	color:#fff;
}
ul li.odd
{	padding-left:20px;
}
ul li.even
{	background:#00F;
	color:#fff;
}
ul li.last
{	background:#666;
	padding-left:10px !important;
	color:#fff;
}
